.calendarDetails {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  background-color: white;
  border-radius: 8px;
  justify-content: space-around;
  padding: 25px 15px;
  gap: 15px;
  box-shadow: -2px 8px 17px -4px rgb(134, 133, 133);
  -webkit-box-shadow: -2px 8px 17px -4px rgb(134, 133, 133);
  -moz-box-shadow: -2px 8px 17px -4px rgb(134, 133, 133);
}

.gridFirstMonth {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  text-align: center;
  color: black
}

.gridFirstMonth p {
  text-align: center;
}

.gridFirstMonth h4 {
  color: rgb(59, 59, 59);
}

.weekDays {
  font-weight: bold;
}

.dayOfMonth {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
}
.dayOfOtherMonth {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: white;
  border: 1px solid transparent;
}

.month {
  grid-column: span 7;
}

.changeMonthButton {
  align-self: center;
  box-shadow: -2px 4px 5px -4px rgb(134, 133, 133);
  -webkit-box-shadow: -2px 4px 5px -4px rgb(134, 133, 133);
  -moz-box-shadow: -2px 4px 5px -4px rgb(134, 133, 133);
  color: white;
  border-radius: 50px;
  padding: 10px;
  border-color: transparent;
  background-color: #f0572d;
}

.selected {
  border: 1px dashed #f0572d;
}

.rangeLimits {
  background-color: #f0572d;
  color: white;
  padding: 10px;
  border-radius: 50%;
}

.today {
  border-bottom: #f0572d solid 2px;
}

.dayOfOtherMonth {
  color: #7a7a7a;
}