  .calendarDetails {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    gap: 10px;
    background-color: white;
    border-radius: 8px;
    justify-content: space-around;
    padding: 25px 15px;
    width: 300px;
    box-shadow: -2px 8px 17px -4px rgb(134, 133, 133);
    -webkit-box-shadow: -2px 8px 17px -4px rgb(134, 133, 133);
    -moz-box-shadow: -2px 8px 17px -4px rgb(134, 133, 133);
  }

  .selectedDate {
    background-color: rgb(184, 118, 33);
  }
  
  .gridFirstMonth {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    text-align: center;
  }
  
  .gridFirstMonth p {
    text-align: center;
  }
  
  .gridSecondMonth {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    text-align: center;
    width: 50%;
    border-left: 0.1px solid rgb(0, 0, 0, 0.3);
    padding: 0 25px 0 25px;
  }
  
  .weekDays {
    font-weight: bold;
    color:#afafaf;
  }
  
  .dayOfMonth {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
  }

  .currentDay {
    border-color: rgb(240, 87, 45);
  }
  .dayOfOtherMonth {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: rgb(202, 202, 202);
    border: 1px solid transparent;
  }
  
  .month {
    grid-column: span 7;
    color:#494949
  }
  
  .changeMonthButton {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    border: none;
    background-color: #f0572d;
    align-self: center;
    box-shadow: -2px 4px 5px -4px rgb(134, 133, 133);
    -webkit-box-shadow: -2px 4px 5px -4px rgb(134, 133, 133);
    -moz-box-shadow: -2px 4px 5px -4px rgb(134, 133, 133);
  }
  
  .changeMonthButton:hover {
    cursor: pointer;
  }
  
  .changeMonthButton > svg > * {
    color: #fff;
  }
  
  .available:hover {
    background-color: rgb(0, 0, 0, 0.3);
  }
  
  .assisted {
    background-color: #f0572d;
    color: #fff
  }
  
  .selected {
    border: 1px dashed #f0572d;
    /* border: 1px solid black; */
    color: #000000;
    width: 60%;
    min-width: 25px;
    height: 90%;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
  }


  .counter {
    color: black;
    grid-column: 1/3;
  }

  input {
    border: none;
  }